{% extends 'base.html.twig' %}

{% block title 'Sujets' %}

{% block body %}
    <a href="{{ path('subject_indexResolved')}}">
        <h3 id='retour'>Sujets résolus ici</h3> 
    </a>
    <button id="bouton" type='submit'><a href="{{ path('subject_create')}}">creer sujet</a></button>
    {% for subject in subjects %}
        {{ include('subject/subject-single.html.twig', { 'subject': subject }) }}
    {% endfor %}
{% endblock %}

